<div style="background-color: whitesmoke; border-style: solid; border-color: grey; border-width: 0.5em; padding: 1em; width: 18em; height: 17em; border-radius: 2em;">
    <b style="font-size: 18px; display: block;">Address:</b>
    <span style="display: block; margin-bottom: 0.5em;"><%= address.address %></span>
    <b style="display: block;">City:</b>
    <span style="display: block; margin-bottom: 0.5em;"><%= address.city %></span>
    <b style="display: block;">State or Province:</b>
    <span style="display: block; margin-bottom: 0.5em;"><%= address.state %></span>
    <b style="display: block;">Country:</b>
    <span style="display: block; margin-bottom: 0.5em;"><%= address.country %></span>
</div>