<!DOCTYPE html>
<html>
    <head>
        <% include ../includes/header.ejs%>
    </head>

    <body>
        <% include ../includes/banner.ejs%>
        <div style="margin: 2em; font-size: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <p>404 Error: Could not find page for URL <%= unknownURL %> </p>
        </div>
    </body>
</html>