<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../includes/header.ejs %>
    </head>

    <body>
        <% include ../includes/banner.ejs%>
        <% include ../includes/error.ejs%>
        <div style="display: flex; align-items: center; flex-direction: column; padding-top: 10px;">
            <h3>Your Cart:</h3>

            <% if (products.length == 0) { %>
                <p>No products in cart.</p>
            <% } %>

            <% for (product of products) { %>
                <% include ../includes/product.ejs %>
            <% } %>

            <h3>Delivery Address: </h3>

            <% if (products.length > 0 && isLoggedIn) { %>
                <div>
                    <form action="/checkout" method="POST" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;">
                            <% let count = 0;
                            for (address of user.addresses) { %>
                                <div style="display: flex; margin: 1em; background-color: skyblue; padding: 0.5em 1.4em 0.5em 0.5em; border-radius: 0.5em;">
                                    <input type="radio" name="deliveryAddress" value="<%= address._id%>">
                                    <% include ../includes/address.ejs%>
                                </div>
                            <% } %>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfT %>">
                        <input type="submit" value="Checkout" class="btn btn-dark" style="margin-top: 0.5em; font-size: 30px;">
                    </form>
                </div>
            <% } %>
        </div>
    </body>
</html>